[{task_tracker,
     [{ecto_repos,['Elixir.TaskTracker.Repo']},
      {'Elixir.TaskTracker.Repo',
          [{username,<<"task_tracker">>},
           {password,<<"OhK3uXaiL3ee">>},
           {database,<<"task_tracker_prod">>},
           {pool_size,15}]},
      {'Elixir.TaskTrackerWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.TaskTrackerWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.TaskTracker.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {server,true},
           {root,<<".">>},
           {version,nil},
           {http,[inet6,{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"tasks1.sawyerwarden.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {secret_key_base,
               <<"541810D9DD5EFBFB4211B01B51A00F002AB6CA2F024724A0B6561F69B4885E4F">>}]}]},
 {postgrex,[{type_server_reap_after,180000}]},
 {connection,[]},
 {ssl,[]},
 {elixir,[{ansi_enabled,false}]},
 {decimal,[]},
 {cowlib,[]},
 {phoenix,
     [{stacktrace_depth,nil},
      {filter_parameters,[<<"password">>]},
      {format_encoders,[]},
      {template_engines,[]},
      {gzippable_exts,
          [<<".js">>,<<".css">>,<<".txt">>,<<".text">>,<<".html">>,
           <<".json">>,<<".svg">>,<<".eot">>,<<".ttf">>]},
      {json_library,'Elixir.Jason'},
      {serve_endpoints,false}]},
 {artificery,[]},
 {eex,[]},
 {runtime_tools,[]},
 {compiler,[]},
 {logger,
     [{compile_time_purge_level,debug},
      {console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {handle_otp_reports,true},
      {utc_log,false},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {level,info},
      {handle_sasl_reports,false},
      {compile_time_purge_matching,[]},
      {discard_threshold,500},
      {truncate,8096},
      {sync_threshold,20},
      {discard_threshold_for_error_logger,500},
      {compile_time_application,nil},
      {backends,[console]},
      {translator_inspect_opts,[]}]},
 {gettext,[{default_locale,<<"en">>}]},
 {plug,[{validate_header_keys_during_test,true}]},
 {stdlib,[]},
 {iex,
     [{inspect,[{pretty,true}]},
      {alive_prompt,<<"%prefix(%node)%counter>">>},
      {history_size,20},
      {colors,[]},
      {default_prompt,<<"%prefix(%counter)>">>}]},
 {distillery,[{config_providers,[]}]},
 {phoenix_ecto,[{exclude_ecto_exceptions_from_plug,[]}]},
 {db_connection,[]},
 {phoenix_html,[]},
 {mix,[{colors,[]}]},
 {public_key,[]},
 {sasl,[{errlog_type,error},{sasl_error_logger,false}]},
 {mime,[{types,#{}}]},
 {jason,[]},
 {ecto,[{json_library,'Elixir.Jason'},{postgres_map_type,<<"jsonb">>}]},
 {ranch,[]},
 {kernel,
     [{logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]},
      {logger_sasl_compatible,false},
      {logger_level,notice}]},
 {poolboy,[]},
 {asn1,[]},
 {cowboy,[]},
 {phoenix_pubsub,[]},
 {crypto,[{fips_mode,false},{rand_cache_size,896}]}].
